.navInternal {
    display: table;
}
hr{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: black;
    margin: 0.2rem -1rem 0px -1rem;
    border-radius: 2px;
    border: .5px solid  #535b61;
}
.navInternal > a {
    padding: 2px 2.6vw;
    float: left;
    display: block;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    background-color:  #6c757d;
    text-decoration: none;
    color: white;
}
.navInternal :first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navInternal :last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navInternal > a:hover,.navInternal > a.selected{
    background-color: rgb(83, 190, 83);
    color: white;
}
