{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="IYZDsEaEdX28HeM3htbE-EvGjLQspXTjcL8-6-OJK-s" />
	<title>Yambo - {% block title %}{% endblock %}</title>
	<meta name="description" content="Yambo, Asociación de Ocio y Tiempo Libre en Alcobendas, Madrid. Proyectos Infantil y Juvenil.">
    <meta name="keywords" content="Yambo, Ocio y Tiempo Libre, Alcobendas, Madrid, Colegio Bachiller Alonso López, Proyecto Barrio, Mediateca Miguel Delibes, Proyecto Barrio,Proyecto Jambo, Jambo, Barrio, Actividades, Niños, Jóvenes">
    <meta name="author" content="Cabrasky - Javier Mateos Mata">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<!-- CSS propios -->
	{% block styles %}{% endblock %}
</head>
<body class="d-flex flex-column vh-100">
	<style>
		body{
			background-image: url('/static/static/resources/fondo.jpg');
			background-repeat: repeat;
			background-attachment: fixed;
		}
	</style>
	<!-- barra de navegación -->
	<nav class="navbar navbar-expand-md bg-light sticky-top">
		<div class="container-fluid">
		  <a class="navbar-brand" href="{% url 'inicio' %}">Yambo</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Monitores
				</a>
				<ul class="dropdown-menu">
					<!-- TODO: Ver si se puede sacar grupo y url de bd -->
					<!-- IMPORTANTE: el enlace es a monitores, cambiarlo cuando este la galeria -->
				  <li><a class="dropdown-item" href="{% url 'grupo_monitores' 'peques' %}">Peques</a></li>
				  <li><a class="dropdown-item" href="{% url 'grupo_monitores' 'medianos' %}">Medianos</a></li>
				  <li><a class="dropdown-item" href="{% url 'grupo_monitores' 'mayores' %}">Mayores</a></li>
				  <li><a class="dropdown-item" href="{% url 'grupo_monitores' 'jambo' %}">Jambo</a></li>
				</ul>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

	<div class="flex-grow-1 container my-5" style="background-color: rgba(255, 255, 255, 0.8); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">	
		{% block content %}
		{% endblock %}
	</div>
	<footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 px-5 border-top bg-light">
		<div class="col-md-4 d-flex align-items-center">
			<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
				<img src="{% static 'resources/yambo-logo_Full_Gray.svg' %}" alt="Yambo Logo" height="32" />
			</a>
			<span class="text-muted">
				© 2024 Yambo Alcobendas
			</span>
		</div>
		<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<li class="ms-3">
				<a class="text-muted" href="https://github.com/cabrasky/web-yambo-dev/" target="_blank" rel="noopener noreferrer">
					<img src="{% static 'resources/github-logo_Full_Gray.svg' %}" class="bi" width="24" height="24" alt="GitHub Logo" />
				</a>
			</li>
			<li class="ms-3">
				<a class="text-muted" href="https://www.instagram.com/yambo_jambo/" target="_blank" rel="noopener noreferrer">
					<img src="{% static 'resources/instagram-logo_Full_Gray.svg' %}" class="bi" width="24" height="24" alt="Instagram Logo" />
				</a>
			</li>
		</ul>
	</footer>	
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>